# Bot Configuration
MELPO_TOKEN=your_bot_token_here # Bot token, you'll need this either from the discord developer dash or where you kept a safe copy.
MELPO_ID=your_bot_id_here # Bot ID, this will be the bots account ID.
GUILDID=your_guild_id_here # For development only, not required for production.
PREMIUM_SKU_ID=your_premium_sku_id_here # To link Melpo's Discord store, not needed other than for Melpo itself.

ENCRYPTION_KEY=your_encryption_key_here # 64 characters in hex: Must be 32 bytes long for AES-256 encryption.

SUPPORTSTAFF_ROLE=your_role_id_here # Role ID for support staff role, used for staff commands such as addPremium.
SUPPORTSERVER_ID=your_guild_id_here # Support server ID, used for staff commands such as addPremium.

# Misc configuration
POST_STATS=false
ISPRODUCTION=false # Set to true if you are running in production, this will enable the webhook listener and API.
BUG_REPORT_MODE=user # This can be none, chan for a output to a channel, user for output to a DM or both if you want to use channel and DM.
BUG_REPORT_USER=developer_id_here # This is the user the bot will DM if in user or both mode.
BUG_REPORT_CHAN= # Channel for sending errors to, if in chan or both mode.

GLITCHTIP_DSN=your_glitchtip_dsn_here # Glitchtip DSN for error reporting, if you don't have one you can leave this blank.

# Image server(For debugging you can define these as blank, but they are required).
S3ACCOUNT_ID= 
S3BUCKET_NAME= 
S3ACCESS_KEY_ID= 
S3SECRET_ACCESS_KEY= 
S3ENDPOINT= 
S3PUBLIC_BASE_URL=

# Postgresql Database Configuration
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password
DB_HOST=your_database_host
DB_PORT=your_database_port